&EPIC

 field_file     = 'robert2d.hdf5'
 field_tol      = 1.0e-9

 !
 ! h5 output info
 !


 output%h5_field_freq   = 20

 output%h5_parcel_freq  = 20

 output%h5_parcel_stats_freq  = 1

 output%h5_field_stats_freq   = 1

 output%h5_write_fields = .true.

 output%h5_write_parcels = .true.

 output%h5_write_parcel_stats = .true.

 output%h5_write_field_stats  = .true.

 output%h5_overwrite    = .true.

 output%h5_basename     = 'robert'

 !
 ! parcel info
 !

 parcel%n_per_cell   = 4

 parcel%lambda_max   = 5.0

 parcel%min_vratio = 36.0

 parcel%max_vratio = 2.89

 parcel%correction_iters = 2

 parcel%gradient_pref = 1.8

 parcel%max_compression = 0.5

 !
 ! stepper info
 !
 time%limit         = 800.0

 time%alpha         = 0.2

 time%precise_stop  = .true.
/
