```
&EPIC

 field_file              = 'robert3d.nc'    ! input field file
 field_tol               = 1.0e-9           ! tolerance for parcel generation

 rk_order                = 4

 !
 ! output info
 !
 output%field_freq         = 30             ![s] write after these many seconds to the field NetCDF file
 output%parcel_freq        = 30             ![s] write after these many seconds to the parcel NetCDF file
 output%parcel_stats_freq  = 30             ![s] write after these many seconds to parcel stats NetCDF file
 output%field_stats_freq   = 30             ![s] write after these many seconds to the field stats NetCDF file
 output%write_fields       = .true.         ! enable / disable field dump
 output%write_parcels      = .true.         ! enable / disable parcel dump
 output%write_parcel_stats = .true.         ! enable / disable parcel statistics
 output%write_field_stats  = .true.         ! enable / disable field statistics
 output%overwrite          = .true.         ! replace existing NetCDF files
 output%basename           = 'robert3d'     ! NetCDF output base name

 !
 ! parcel info
 !
 parcel%n_per_cell       = 8                 ! initial number of parcels per cell
 parcel%lambda_max       = 4.0               ! maximum parcel aspect ratio
 parcel%min_vratio       = 40.0              ! minimum ratio of grid cell volume / parcel volume
 parcel%correction_iters = 2                 ! how many parcel correction iterations
 parcel%gradient_pref    = 1.8               ! gradient correction prefactor
 parcel%max_compression  = 0.5               ! gradient correction maximum compression

 !
 ! stepper info
 !
 time%limit              = 1600.0            ! time limit (s)
 time%alpha              = 0.2               ! scaling factor for the strain and buoyancy gradient time step
 time%precise_stop       = .false.           ! time limit exact
/
