&EPIC

 field_file     = 'straka2d.hdf5'
 field_tol      = 1.0e-9

 !
 ! h5 output info
 !


 output%h5_field_freq   = 20

 output%h5_parcel_freq  = 20

 output%h5_write_fields = .true.

 output%h5_write_field_stats = .true.

 output%h5_write_parcels = .true.

 output%h5_write_parcel_stats = .true.

 output%h5_overwrite    = .true.

 output%h5_basename     = 'straka'

 !
 ! parcel info
 !

 parcel%n_per_cell   = 4

 parcel%lambda_max   = 5.0

 parcel%split_freq   = 1

 parcel%merge_type   = 'multi-geometric'

 parcel%merge_freq   = 1

 parcel%vmin_fraction = 36.0

 parcel%vmax_fraction = 2.89

 parcel%correction_freq = 1

 parcel%correction_iters = 2

 parcel%apply_laplace = .true.

 parcel%apply_gradient = .true.

 parcel%gradient_pref = 1.8

 parcel%max_compression = 0.5

 !
 ! stepper info
 !
 time%limit         = 800.0

 time%dt            = 2.0

 time%is_adaptive   = .true.

 time%alpha_s       = 0.025

 time%alpha_b       = 0.05
/
