&EPIC

 field_file     = 'straka2d.nc'
 field_tol      = 1.0e-9

 !
 ! output info
 !


 output%field_freq   = 20

 output%parcel_freq  = 20

 output%parcel_stats_freq  = 1

 output%field_stats_freq   = 1

 output%write_fields = .true.

 output%write_parcels = .true.

 output%write_parcel_stats = .true.

 output%write_field_stats  = .true.

 output%overwrite    = .true.

 output%basename     = 'straka'

 !
 ! parcel info
 !

 parcel%n_per_cell   = 9

 parcel%lambda_max   = 4.0

 parcel%min_vratio = 40.0

 parcel%max_vratio = 2.89

 parcel%correction_iters = 2

 parcel%gradient_pref = 1.8

 parcel%max_compression = 0.5

 !
 ! stepper info
 !
 time%limit         = 900.0

 time%alpha         = 0.2

 time%precise_stop  = .true.
/
