```
&EPIC

 field_file              = 'taylor_green.hdf5'  ! input field file
 field_tol               = 1.0e-9               ! tolerance for parcel generation

 !
 ! h5 output info
 !
 output%h5_field_freq         = 1               ![s] write after these many seconds to the field HDF5 file
 output%h5_parcel_freq        = 1               ![s] write after these many seconds to the parcel HDF5 file
 output%h5_parcel_stats_freq  = 1               ![s] write after these many seconds to parcel stats HDF5 file
 output%h5_field_stats_freq   = 1               ![s] write after these many seconds to the field stats HDF5 file
 output%h5_write_fields       = .true.          ! enable / disable field dump
 output%h5_write_parcels      = .true.          ! enable / disable parcel dump
 output%h5_write_parcel_stats = .true.          ! enable / disable parcel statistics
 output%h5_write_field_stats  = .true.          ! enable / disable field statistics
 output%h5_overwrite          = .true.          ! replace existing HDF5 files
 output%h5_basename           = 'taylor_green'  ! HDF5 output base name

 !
 ! parcel info
 !
 parcel%n_per_cell       = 9                    ! initial number of parcels per cell
 parcel%lambda_max       = 5.0                  ! maximum parcel aspect ratio
 parcel%split_freq       = 1                    ! after how many steps to call parcel split
 parcel%merge_type       = 'geometric'          ! optimal or geometric
 parcel%merge_freq       = 1                    ! after how many steps to call parcel merge
 parcel%min_vratio       = 36.0                 ! minimum ratio of grid cell volume / parcel volume
 parcel%max_vratio       = 2.89                 ! maximum ratio of grid cell volume / parcel volume
 parcel%correction_freq  = 1                    ! after how many steps to call parcel correction
 parcel%correction_iters = 2                    ! how many parcel correction iterations
 parcel%apply_laplace    = .true.               ! enable / disable divergent flow correction
 parcel%apply_gradient   = .true.               ! enable / disable gradient correction
 parcel%gradient_pref    = 1.8                  ! gradient correction prefactor
 parcel%max_compression  = 0.5                  ! gradient correction maximum compression

 !
 ! stepper info
 !
 time%limit              = 100.0                ! time limit (s)
 time%dt                 = 0.5                  ! time step (s) [if non-adaptive]
 time%is_adaptive        = .true.               ! enable / disable adaptive time stepping
 time%alpha              = 0.1                  ! scaling factor for the strain and buoyancy gradient time step
 time%precise_stop       = .false.              ! time limit exact
/
