&EPIC

 field_file     = @FIELD_FILE@
 field_tol      = @FIELD_TOL@

 !
 ! h5 output info
 !


 output%h5_field_freq   = @H5_FIELD_FREQ@

 output%h5_parcel_freq  = @H5_PARCEL_FREQ@

 output%h5_write_fields = .true.

 output%h5_write_parcels = .true.

 output%h5_overwrite    = .true.

 output%h5_basename     = @H5_BASENAME@

 !
 ! parcel info
 !

 parcel%n_per_cell   = @N_PER_CELL@

 parcel%lambda       = @LAMBDA@

 parcel%split_freq   = 1

 parcel%merge_type   = @MERGE_TYPE@

 parcel%merge_freq   = 1

 parcel%vfraction    = @VFRACTION@

 parcel%vmaxfraction = @VMAXFRACTION@

 parcel%correction_freq = 1

 parcel%correction_iters = @CORRECTION_ITERS@

 parcel%apply_laplace = .true.

 parcel%apply_gradient = .true.

 parcel%gradient_pref = @GRADIENT_PREF@

 parcel%max_compression = @MAX_COMPRESSION@

 !
 ! stepper info
 !
 time%limit         = @LIMIT@

 time%dt            = @DT@

 time%is_adaptive   = .true.

 time%alpha_s       = @ALPHA_S@

 time%alpha_b       = @ALPHA_B@

/
