&EPIC

 field_file = @FIELD_FILE@
 field_tol = @FIELD_TOL@

 !
 ! h5 output info
 !
 output%h5_field_freq = @H5_FIELD_FREQ@

 output%h5_parcel_freq = @H5_PARCEL_FREQ@

 output%h5_parcel_stats_freq = @H5_PARCEL_STATS_FREQ@

 output%h5_field_stats_freq = @H5_FIELD_STATS_FREQ@

 output%h5_write_fields = @H5_WRITE_FIELDS@

 output%h5_write_parcels = @H5_WRITE_PARCELS@

 output%h5_write_parcel_stats = @H5_WRITE_PARCEL_STATS@

 output%h5_write_field_stats = @H5_WRITE_FIELD_STATS@

 output%h5_overwrite = @H5_OVERWRITE@

 output%h5_basename = @H5_BASENAME@

 !
 ! parcel info
 !
 parcel%n_per_cell = @N_PER_CELL@

 parcel%lambda_max = @LAMBDA_MAX@

 parcel%split_freq = @SPLIT_FREQ@

 parcel%merge_type = @MERGE_TYPE@

 parcel%merge_freq = @MERGE_FREQ@

 parcel%vmin_fraction = @VMIN_FRACTION@

 parcel%vmax_fraction = @VMAX_FRACTION@

 parcel%correction_freq = @CORRECTION_FREQ@

 parcel%correction_iters = @CORRECTION_ITERS@

 parcel%apply_laplace = @APPLY_LAPLACE@

 parcel%apply_gradient = @APPLY_GRADIENT@

 parcel%gradient_pref = @GRADIENT_PREF@

 parcel%max_compression = @MAX_COMPRESSION@

 !
 ! stepper info
 !
 time%limit = @LIMIT@

 time%dt = @DT@

 time%is_adaptive = @IS_ADAPTIVE@

 time%alpha = @ALPHA@

 time%precise_stop = @PRECISE_STOP@

/
